name: Build and deploy Node.js app to Azure Web App - sanctuary-portal

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies (opsvantage-web)
        run: |
          if [ -f opsvantage-web/package-lock.json ]; then
            npm ci --prefix opsvantage-web
          else
            echo "package-lock.json not found in opsvantage-web, running npm install instead"
            npm install --prefix opsvantage-web
          fi

      - name: Build (opsvantage-web)
        run: npm run build --prefix opsvantage-web

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: opsvantage-web

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_A7C9041F09A34761A277A1041EFA706A }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_8F77433F840F4B40B4BD30C7EDE56ACC }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E76D716DB76F48DD96B79CC2C1AAB13D }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'sanctuary-portal'
          slot-name: 'Production'
          package: .
